body {
	background-color: black; 
	color: white;
}

img {
	border: none;
}

a {
	text-decoration: none;
	color: #ffc;
}

a:hover {
	text-decoration: underline;
	color: #ff3;
}

#gclogo {
	text-align: center;
}

#contents { 
	background-color: #111;
	border: 2px solid #333;
	padding: 1em;
	width: 875px;
	height: auto;
	overflow: visible; /*auto - problem in Chrome*/
	margin-left: auto;
	margin-right: auto;
}

#rssBtn {
	position: absolute;
	width: 60px;
	height: 60px;
	left: 825px; /* #contents.width - #rssBtn.width */
}

#rekPrawo {
    width:160px;
	height:700px;
	position: absolute;
	left: 905px; /* #contents.width + 30px */
	/*background-color: yellow;*/
}

#rekOdno {
    width:160px;
	height:90px;
	margin-bottom: 10px;
	overflow: hidden;
	padding: 0;
	/*background-color: green;*/
}

#rekWiez {
    width:160px;
	height:600px;
	overflow: hidden;
	padding: 0;
	/*background-color: red;*/
}

.dlugRekl {
}

.bigRectRekl {
}

.reklNaGlownej {
}

#langBar {
	position: absolute;
}

#menuBar {
	width: 100%;
	margin: 1em 0 0.2em 0em;
	padding: 0;
	background-color: #111;
	border-top: 1px solid #333;
	border-bottom: 1px solid #333;
	text-align: center;
}

#menuBar img {
	margin-bottom: -4px;
}

#menuBar a:hover {
	text-decoration: none;
}

#digpanel {
	margin-bottom: 1em;
	border: 1px dashed #261d00;
	vertical-align: middle;
	text-align: center;
}

#digpanel_in {
	margin: auto;
}

#goldenButtons {
	background-color: #000;
	text-align: center;
}

#goldenButtons #downloadBtn {
	display: inline;
	padding-right: 100px;
}

#goldenButtons #donateBtn {
	display: inline;
}

#goldenButtons * .btnNormal {
	display: inline;
}

#goldenButtons * .btnHover {
	display: none;
}

#goldenButtons *:hover .btnNormal {
	display: none;
}

#goldenButtons *:hover .btnHover {
	display: inline;
}

#newVersionAlert {
	/* display: none; */
	width: 80%;
	border: 2px solid #ffd635;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 1em;
	padding: 10px;
	text-align: center;
	background-color: #261d00;
	font-size: 200%;
}

.modTitle {
	text-align: center;
	font-size: 200%;
	font-variant: small-caps;
}

#features {
	padding: 0;
}
#features .small img {
	margin-right: 3px;
	width: 172px;
	height: 59px;
}

#features .big {
	margin: auto;
	width: 700px;
	margin-bottom: 2em;
}

#features .big img {
	margin-right: 3px;
	width: 347px;
	height: 59px;
}


#inTextRekl {
	/*background-color: lime;*/
	margin: auto;
	text-align: center;
	width: 336px;
	height: 280px;
}

#contents #txttitle {
	font-size: 350%;
	text-align: center;
}

#contents #txttitle .smaller {
	font-size: 50%;
}

#newVersionAlert .wn {
	font-size: 70%;
}

#footNote {
	font-size: 50%;
	color: #666;
	width: 875px;
	margin: auto;
}

h1 {
	background-color: #333;
	padding: 2px;
	border: 1px solid #555;
	font-size: 150%;
}

h2 {
	background-color: #444;
	padding: 2px;
	border: 1px solid #555;
	font-size: 130%;
}

div#faq h1 {
	background-color: #333;
	padding: 2px;
	border: 1px solid #555;
	font-size: 150%;
}